<div class="head">
    <div class="logo">
        <a href="#">Parqueadero Uleam</a>
    </div>
    <nav class="navbar">
        <a routerLink="/atencion" routerLinkActive="active-link"class="nav-link">Contacto</a>
        <a routerLink="/conocenos" routerLinkActive="active-link"class="nav-link">Conocenos</a>
        <a routerLink="/registro" routerLinkActive="active-link"class="nav-link">Registro</a>
    </nav>
  </div>
  <!-- CREAMOS UN HEADER QUE SERÁ A RAZON DE UNA ANIMACIÓN DE INICIO -->
  <header class="content header">
    <br>
    <h3> BIENVENIDO </h3>
  </header>
  <!-- AQUI VAMOS A DECLARAR EL NÚMERO DE CIRCULOS QUE VAMOS A TENER EN NUESTRA ANIMACIÓN DE INICIO-->
  <div class="loader">
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
    <span class="loader__element"></span>
  </div>
  <!-- CREAMOS CONTENEDOR PARA PRESENTAR LAS DISTINTAS FORMAS DE DESCARGAS -->
  <!-- PARA ESTE CASO USAREMOS ICONOS POR DEFECTO -->
  <section class="content sau">
    <h2 class="title">Descarga nuestra aplicación movil</h2>
    <!-- SECCIONAMOS NUESTROS CONTENEDORES -->
    <div class="box-container">
        <div class="box">
            <i class="fab fa-apple"></i>
            <h2 center>IOS</h2>
            <p>Descarga aquí</p>
        </div>
        <div class="box">
            <i class="fab fa-android"></i>
            <h2>ANDROID</h2>
            <p>Descarga aquí</p>
        </div>
    </div>
  </section>
  <!-- CREAMOS EL CONTENEDOR PARA LAS PROMOCIONES DE PRECIOS-->
 
    <!-- CREAMOS EL CONTENEDOR PARA EMPEZAR A SECCIONAR NUESTRAS 3 CAJAS -->
    <!-- ADJUNTAMOS LINKS DE REFERENCIA VACIOS PARA EN UN FUTURO ADJUNTARLOS -->
    <div class="price__table">
        <h4>PROMOCIONES ACTIVAS
        </h4>
        <div class="price__element">
            <p class="price__name">Estudiantes</p>
            <h5 class="price__price">$15/mes</h5>
            <div class="price__items">
                <p class="price__features">Vigilancia 24 horas</p>
                <p class="price__features">Disponibilidad</p>
            </div>
            <a href="#" class="price__cta">Empieza ahora</a>
        </div>
        <div class="price__element price__element--best">
            <p class="price__name">Docentes</p>
            <h5 class="price__price">$20/mes</h5>
            <div class="price__items">
                <p class="price__features">Vigilancia 24 horas</p>
                <p class="price__features">Lotes reservados</p>
                <p class="price__features">Disponibilidad</p>
            </div>
            <a href="#" class="price__cta">Empieza ahora</a>
        </div>
        <div class="price__element">
            <p class="price__name">Visitantes</p>
            <h5 class="price__price">$2/día</h5>
            <div class="price__items">
                <p class="price__features">Vigilancia 24 horas</p>
                <p class="price__features">Disponibilidad</p>
            </div>
            <a href="#" class="price__cta">Empieza ahora</a>
        </div>
    </div>
  
  <!-- SECCIÓN PARA PRESENTAR LA UBICACIÓN DEL VEHICULO-->
  <section class="content contact">
    <h2 class="title">UBICACIÓN</h2>
    <p>La ubicación de su vehiculo es:</p>
    <!-- INSERTAMOS EL MAPA EXTRAIDO DIRECTAMENTE DE GOOGLE MAPS -->
    <figure class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2304.504135176443!2d-80.7457290548655!3d-0.9541117872029197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be16a5ec848cd%3A0xa60ef7d90e068e64!2sUniversidad%20Laica%20Eloy%20Alfaro%20De%20Manabi!5e0!3m2!1ses-419!2sec!4v1666326073670!5m2!1ses-419!2sec" width="500" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>
    <br>
    <p>Presione el boton cada vez que su vehiculo se encuentre estacionado</p>
    <button id="button">Presionar</button>
    <br>
    <p>Las veces que ha hecho uso del estacionamiento son:</p>
    <h2 id="score_element"></h2>  
</section>
  <!-- CLASE PARA INSERTAR EL ESTADO DEL VEHICULO-->
  <div class="rotacion">
      <h2 class="title">ESTADO DE MI VEHICULO  &nbsp; </h2>
    <br>
    <a href="#">
         <figure>
          <img src="../assets/carro.jpg">
             <div class="capa">
                 <h6>SU VEHICULO SE ENCUENTRA ESTACIONADO EN BUEN ESTADO</h6>
                 <p>🚗</p>
             </div>
         </figure>
     </a>
  </div>
  
