*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
 
}
/* CSS PARA EL AJUSTE DE LOS TITULOS H4*/
h4{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
   position:unset;

}
/* CSS PARA EL AJUSTE DE LOS TITULOS H2*/
h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
   position:unset;
}
/* CSS PARA DEFINIR EL FONT Y ALINEACIÓN DEL TEXTO*/
body {
    text-align: center;
    font-family: sans-serif;
}
/* CSS PARA DEFINIR LOS AJUSTES DEL HEAD*/
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: absolute;
    width: 100%;
    z-index: 100;
}
.navbar {
    display: flex;
    margin-right: 10px;
}
.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    background: #3f3f3f;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS PARA EL HEADER CON SU INSERCIÓN DE FOTO*/
.header {
    height: 60vh !important;
    background:url(../pagina1/Header.png) no-repeat center;
    background-size: cover;
}
/* CSS PARA LOS AJUSTES VISUALES DE LA CLASE TITTLE*/
.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
   position:unset;
}
/* CSS PARA EL AJUSTE DE LOS TITULOS H3 CON LA ANIMACIÓN DADA DEL CAMBIO DE COLOR*/
h3 {
    position: relative;
    top: -40px; right: -450px;
    font-size: 90px;
    background: linear-gradient(#1497be, #1c2aec);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}
/* KEYFRAME PARA EL CAMBIO DE COLOR DEL TEXTO*/
@keyframes text {
    0% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
    text-align: center;
}

/* CSS PARA LA SECCIÓN DE DESCARGA DE APLICACIÓN*/
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #19191a;
}
.btn:hover {
    background: none;
    
}
.btn-home {
    margin-top: 180px;
    display: flex;
}
.btn-home a {
    margin: 0 10px;
}
.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau {
    padding: 30px;
    background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}
.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;
}
.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}
.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}
.about {
    background: #171717;
}
.price {
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
/* CSS PARA LA SECCIÓN DE DESCARGA DE APLICACIÓN*/
/* CSS PARA LA INSERCIÓN DEL MAPA*/
.contact {
    background: #948E99;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   width: 100%;
   height: 800px;
}

/* CSS PARA LA ANIMACIÓN DE LA BARRA DE CARGA*/
:root {
    --main-color: #ecf0f100;
    --point-color: rgb(218, 18, 18);
    --size: 8px;
  }
  .loader {
      background-color: var(--main-color);
      overflow: hidden;
    width: 50%;
    height: 50%;
    position:absolute;
    top: 90px; left: 910px;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center;  
      z-index: 100000;
  }
  .loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }
  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  @keyframes preloader {
    100% { transform: scale(2); }
  }
/* CSS PARA LA ANIMACIÓN DE LA BARRA DE CARGA*/


  /* CSS DE LOS PRECIOS ESTABLECIDOS*/
   /*
  .price{
   background: #0F2027;   
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    text-align: right;
    height: 120vh !important;
    width: 99vw;
    flex-wrap: wrap;
}
*/
.price__table{
    background-color: #101010;
   /* background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
padding: 40px;
padding-top: 10px;
display: flex;
flex-wrap: wrap;
gap: 2.5em;
justify-content: space-evenly;
align-items: center;
text-align: center;
height: 120vh !important;
width: 99vw;
}
.price__element{
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
    border-radius: 10px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;
    height: auto;
    width: auto;
}
.price__element--best{
    text-align: center;
    width: 370px;
    padding: 60px 40px;
    background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --color-plan: rgb(98, 99, 105);
    --color-price: rgb(53, 57, 80);
    --bg-cta: #199f4c;
    --color-cta: #FFF;
    --color-items: rgb(97, 97, 106);
}
.price__name{
    text-align: center;
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 600px;
    font-size: 25px;
}
.price__price{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-price);
    
}
.price__items{
    text-align: center;
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}
.price__cta{
    text-align: center;
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
/* CSS DE LOS PRECIOS ESTABLECIDOS*/


/*CSS PARA LA IMAGEN DE TU VEHICULO ESTÁ EN BUEN ESTADO*/
*{margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;}
    
    .rotacion{
        background: #20002c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600PX;
        padding-right: 10px;
        
    }
    .rotacion figure{
       position:relative;
        height: 320px;
        cursor: pointer;
        width: 450px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    }
    .rotacion figure img{
        width: 100%;
        height: 100%;
        transition: all 400ms ease-out;
        will-change: transform;
    }
    .rotacion figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,103,123,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
    }
    .rotacion figure:hover > .capa {
        opacity: 1;
        visibility: visible;
    }
    .rotacion figure:hover > .capa h6{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .rotacion figure:hover > img{
        transform: scale(1.3);
    }
    .rotacion figure .capa h6{
        color: #fff;
        font-weight: 500px;
        margin-bottom: 120px;
        transition: all 400ms ease-out;
         margin-top: 30px;
         text-align: center;
    }
    .rotacion figure .capa p{
        color: #fff;
        font-size: 35px;
        line-height: 1.5;
        width: 100%;
        max-width: 220px;
        margin: auto;

    }

/*CSS PARA BUTTON*/
button{
    border: 3px solid;
    border-radius: 30px;
    width: 250px;
    height: 100px;
}

button:hover{
    background-color: #529ed1;
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
    border-radius: 30px;
}

button span:nth-child(n){
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.6s ease;
}

button span:nth-child(1){
    right: 10%;
    top: -10px;
    background-color: rgb(201, 26, 26);
}

button span:nth-child(2){
    left: 10%;
    bottom: -10px;
}

button:hover span:nth-child(1){
    right: 80%;
    transform: rotate(90deg);
    color: var(--color);
    background-color: var(--color);
    
}

button:hover span:nth-child(2){
    left: 80%;
    transform: rotate(90deg);
    color: var(--color);
}


/*CSS PARA LA IMAGEN DE TU VEHICULO ESTÁ EN BUEN ESTADO*/

/*CSS PARA AJUSTE DE LA PAGINA*/
@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
    
}
